<div class="h-[calc(100vh-66px)] w-[280px] p-4 flex flex-col bg-gray-50 dark:bg-[#374151]">
  <div class="h-full pb-0 text-gray-900 md:pb-4 dark:text-white">
    <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
      <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
        <img src="/assets/users.svg" />
        <a href="#" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
          Users
        </a>
      </li>
      <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
        <img src="/assets/clients.svg" />
        <a href="#" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
          Clients
        </a>
      </li>
      <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
        <img src="/assets/profiles.png" />
        <a href="#" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
          Profiles
        </a>
      </li>
      <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
        <img src="/assets/document-text.svg" />
        <a href="#" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
          Documents
        </a>
      </li>


    </ul>
  </div>
  <div>
    <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
      <img src="/assets/setting.svg" />

      <a href="/signin" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
        Settings
      </a>
    </li>
    <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
      <img src="/assets/help.svg" />

      <a href="/signin" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
        Knowledge Base
      </a>
    </li>
    <li class="px-4 py-2 w-full flex items-center gap-2 hover:bg-gray-400 dark:hover:bg-gray-400">
      <span class="material-icons">logout</span>
      <a href="/signin" class="text-gray-500 dark:text-white hover:text-blue-600 dark:hover:text-blue-500">
        Sign out
      </a>
    </li>
  </div>
</div>
